.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 400px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.news-card h2 {
    font-size: 1rem;
}


